extends layout

block content
  h1= title + ' ' + categoryId
  p.lead Great news!
  .row
  hr
  each item in result
    .col-sm-6
      h2= item.rssname
      p= item.trimRssurl
      i= item.timeago
      .row
        .col-sm-1
        .text-right
          a.btn.btn-default(href='/i/' + item.categoryid + '/' + item.id, role='button') View details »