extends layout

block content
  h1: a(href='/i/' + categoryId)= categoryName
  //- p.lead Great news!
  .row.grid
    each item in result
      .col-sm-6.col-xs-12.grid-item
        .card
          a(href='/i/' + item.categoryid + '/' + item.id, role='button')
            img(class='img-fluid', src=item.thumbnail, alt='Card image card')
          .card-block
            h4.card-title= item.rssname
            //- p.card-text= item.trimRssurl
            .text-right
              i= item.timeago
            //-   a.btn.btn-primary(href='/i/' + item.categoryid + '/' + item.id, role='button') View details »