extends layout

block content
  h1 !{title}
  p.lead Collect newest feeds
  hr
  .row
    each item in result
      .col-sm-6
        h2 !{item.rssname}
        p !{item.rssurl}
        i !{item.createtimestamp}
          a.btn.btn-default(href='#', role='button') View details »