/*
  Body
*/
body {
  word-break: break-all;
  padding-top: 50px;
  background: #b8c0cc;
  font-family: PingFangTC-Regular, sans-serif;
}

img {
  width: 100%;
}

hr {
  border-color: rgba(0,0,0,0.12);
}
/*
  Home card
*/

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  /*border: 1px solid rgba(0,0,0,.125);*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: .25rem;
  margin-bottom: 2rem;
}

.navbar-inverse {
  background-color: #354154;
  border-color: #354154;
}
.img-logo {
  width: 120px;
  margin-top: -10px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

/*
  Feed and RSS styles
*/
.feedImage {
  width: 100%;
}

.grid-item li {
  width: 100%;
  display: block;
  float: left;
  list-style: none;
  margin: 0 5px 5px 0;
  background: white;
  background-position: center center;
  background-repeat: no-repeat;
}

li.is-loading {
  background: white;
  background-image: url('../images/balls_loading.gif');
}

li.is-broken {
  background: white;
  background-image: url('http://desandro.github.io/imagesloaded/assets/broken.png');
}

li.is-loading img,
li.is-broken img {
  opacity: 0;
}

/*
  fix main.css
*/

.navbar-inverse .navbar-nav > li > a {
  font-size: 24px;
}

h1 a {
  color: #354154;
}

h1 a:hover {
  color: #fff;
}

@media (max-width: 978px) {
  .row {
    margin-right: -30px;
    margin-left: -30px;
  }
}
